@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
}

:root {
    --bg-color: #191f36;
    --snd-bg-color: #262B40;
    --text-color: #fff;
    --main-color: #59B2F4;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

secttion {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active {
    color: var(--text-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-page img {
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content p {
    font-size: 1.7rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .1rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: .5rem 1.5rem 1rem 0;
    margin-top: 30px;
    transition: .5s ease;
}


.social-media a:hover {
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    margin-top: 30px;
    margin-right: 15px;
}

.btn:hover {
    box-shadow: none;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}

.sobre-img img {
    width: 25vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
    margin-top: 10rem;
}

.sobre-content h2 {
    text-align: left;
    line-height: 1.2;
}

.sobre-content h3 {
    font-size: 2.6rem;
}

.sobre-content p {
    font-size: 1.7rem;
    margin: 10rem 0 20rem;
}

/*

.servicos h2 {
    margin-bottom: 5rem;
}

.servicos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.servicos-container .servicos-box {
    flex: 1 1 30rem;
    background: var(--snd-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.servicos-container .servicos-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.servicos-box i {
    font-size: 6rem;
    color: var(--main-color);
}

.servicos-box h3 {
    font-size: 2.6rem;
}

.servicos-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

*/

.portifolio {
    background: var(--snd-bg-color);
    padding: 0%;
}

.portifolio h2 {
    margin-bottom: 2rem;
}

.portifolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    padding: 10rem;
}

.portifolio-container .portifolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portifolio-box img {
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}

.portifolio-box:hover img {
    transform: scale(1.1);
}

.portifolio-box .portifolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portifolio-box:hover .portifolio-layer {
    transform: translateY(0);
}

.portifolio-layer h4 {
    font-size: 3rem;
}

.portifolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portifolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portifolio-layer a i {
    font-size: 2rem;
    color: var(--snd-bg-color);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
    width: 100%;
    position: relative;
}

.footer-text {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--snd-bg-color);
}

/*BREAKPOINT*/

@media (max-width:1200px) {
    html{
        font-size: 55%;
    }
}

@media (max-width:991px) {
    .header{
        padding: 2rem 3%;
    }

    secttion {
        padding: 10rem 3%;
    }

    .servicos {
        padding: 7rem;
    }

    .portifolio {
        padding-bottom: 7rem;
    }

    .contato {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon{
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content {
        order: 2;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .sobre {
        flex-direction: column;
    }

    .sobre-img img {
        width: 90vw;
        margin-top: 4rem;
    }

    .servicos h2 {
        margin-bottom: 3rem;
    }

    .portifolio h2 {
        margin-top: 3rem;
    }

    .portifolio-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .portifolio-container {
        grid-template-columns: 1fr;
    }

    .home-img img {
        width: 80vw;
        margin-top: 8rem;
    }

    .sobre-img img {
        width: 100vw;
        margin-top: 4rem;
    }
}

@media (max-width: 450pxpx) {
    html {
        font-size: 50%;
    }

    .contato form .input-box input {
        width: 100%;
    }
}

.container__soft__skills {
    background: var(--snd-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    height: 70vh;
}


.container__soft__skills h1 {
    background: var(--snd-bg-color);
    font-weight: 700;
    font-size: 4rem;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5%;
}

.container__soft__skills h2 {
    background: var(--snd-bg-color);
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5%;
}

.container__soft__skills p {
    display: flex;
    color: white;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 200;  
    padding-bottom: 5%; 
}

.container__soft__skills__icones {
    font-family: var(--tipo-de-fonte-texto);
    font-weight: 200;
    font-size: 1rem;
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.container__soft__skills img:hover {
    border-radius: 50%;
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}